
body {
    background-color: gray;
}
.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.title_div {
    text-align: center;
    background-color: yellow;
    margin: 0 3%;
}

.container_one {
    width: 30%;
    margin: 0 1%;
    background-color: blue;
}

.container_two {
    width: 30%;
    margin: 0 1%;
    background-color: green;
}

.container_three {
    width: 30%;
    margin: 0 1%;
    background-color: red;

}
